<li>
	<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored change-devour" data-id="{{id}}" data-newdev="{{devoured}}">

        {{burger_name}}
		  <i class="material-icons">cancel</i>

	</button>
</li>
